<body>
  <h2>Welcome!</h2>
  
  <% if current_user %>
    <section id="registered_users">
      <% @users.each do |user| %>
        <div id="user-<%= user.id %>">
          </p><%= user.email %></p>
        </div>
      <% end %>
    </section>
  <% else %>
    <section id="users">
        <p><%= button_to "Create An Account", register_path, method: :get, class: 'button' %></p>
        <p><%= link_to "I already have an account", login_path, method: :get, class: 'button'%></p>
    </section>
  <% end %>
</body>
